* {
  box-sizing: border-box;
  font-family: "Commissioner", "Arial", serif;
}
.page {
  padding: 19px 16px;
  margin: 0 auto;
  max-width: 1200px;
}
img {
  max-width: 100%;
  height: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
picture {
  display: block;
  margin: 0;
  padding: 0;
}
article {
  margin: 0;
  padding: 0;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hidden {
  opacity: 0;
}
.label,
.input {
  display: block;
  font-family: sans-serif;
  font-size: 16px;
}
.input-wrapper {
  position: relative;
  border: 1px solid blue;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}
.input {
  position: absolute;
  bottom: 3px;
  left: 10px;
  background: transparent;
  border: none;
  width: calc(100% - 20px);
  box-sizing: border-box;
  color: #38424c;
}
.input:focus,
.input:active {
  background: none;
  border: none;
  outline: none;
}
.label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #acb3b9;
  transition: all 0.225s ease-in-out;
}
.input:focus + .label,
.input:valid + .label {
  top: 3px;
  transform: translateY(0);
  font-size: 11px;
}
.input:focus + .label {
  color: blue;
  font-weight: bold;
}
.draggable {
  padding: 0 17px;
  background-color: white;
  cursor: move;
}
.draggable.dragging {
  opacity: 0.5;
}
form {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  border-radius: 0 0 10px 10px;
}
.form__container {
  width: 410px;
  padding: 0 0 0 40px;
}
@media (max-width: 1060px) {
  .form__container {
    padding: 0;
  }
}
.form__title {
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  background: #f2f2f2;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 5px 5px 0 0;
  margin: 0;
  border-bottom: none;
}
.form__text {
  font-size: 14px;
}
.form__submit-button {
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: blue;
  transition: all 0.3s;
  transform: translateY(0%);
}
.form__submit-button:hover {
  background-color: #626262;
  color: gray;
}
.form__submit-button:focus {
  background-color: #393939;
}
.avatar {
  width: 250px;
  height: auto;
  border-radius: 20px;
  box-shadow: 2px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
.price {
  font-size: 27px;
  font-weight: bold;
}
.pricing__title {
  margin: 0 0 20px;
}
.pricing__list {
  padding: 15px 35px;
  font-size: 14px;
  background: #f2f2f2;
  border-radius: 5px;
  list-style: none;
}
.pricing__list-item {
  position: relative;
}
.pricing__list-item:before {
  position: absolute;
  content: "•";
  color: #0051D4;
  top: 0;
  left: -15px;
}
.pricing__review-link {
  margin-bottom: 17px;
  display: inline-block;
  font-size: 14px;
  color: blue;
}
.stock__container {
  width: 420px;
}
.stock__title {
  margin: 12px 0px 0;
  font-size: 22px;
  font-weight: bold;
}
.stock-__title {
  margin: 12px 0px 0;
  font-size: 22px;
  font-weight: bold;
}
.stock__dates {
  font-size: 14px;
  margin: 0;
}
.stock__ad {
  position: relative;
  border: 1px solid blue;
  background: #F2F2F2;
  padding: 22px 22px;
  margin: 23px 0 0;
  border-radius: 5px;
}
.stock__ad::after {
  position: absolute;
  top: -5px;
  right: -59px;
  content: '';
  width: 46px;
  height: 91px;
  background-image: url('../img/arrow-right.svg');
  background-repeat: no-repeat;
}
.advantages__title {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding: 0 15px;
  text-align: center;
}
.advantages__list {
  list-style: none;
  padding: 0 15px;
}
.advantages__list-item {
  position: relative;
  font-size: 14px;
  margin-bottom: 10px;
}
.advantages__list-item:before {
  position: absolute;
  content: "•";
  display: block;
  top: 0;
  left: -30px;
  width: 20px;
  height: 20px;
  background: #F2F2F2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0051D4;
}
.our-advantages__list {
  padding: 0 15px;
}
.our-advantages__title {
  margin: 0;
}
.our-advantages__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.our-advantages__item-icon {
  width: 40px;
  height: 40px;
}
.our-advantages__item-description {
  margin: 0 0 0 35px;
}
.swiper {
  width: 250px;
  height: 200px;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide > img {
  width: 117px;
}
.first-row {
  display: flex;
  opacity: 0;
  transition: all 1.5s;
  transform: translateY(0%);
  gap: 40px;
  margin-bottom: 30px;
}
.second-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  opacity: 0;
  transition: all 1.5s;
  transform: translateY(0%);
}
.shown {
  opacity: 1;
}
@media (max-width: 1060px) {
  .first-row,
  .second-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .advantages__title {
    margin: 0;
  }
  .pricing__title,
  .pricing__title,
  .our-advantages__title,
  .stock__title {
    text-align: center;
  }
  .stock__ad::after {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
